node_modules
.vscode
.hugo_build.lock
updateData
updateData.exe

*.log

.DS_Store

Thumbs.db
db.json
public
.deploy*

dist
public
resources

data/websites-old.yml
content/img-old
static/assets/siteimg-old.css
static/assets/siteimgsprite-old.css
static/assets/sitesprites-old.png
